In [11]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [12]:
# Read the CSV file into a DataFrame
df = pd.read_csv(r"C:/Users/cash/OneDrive/Desktop/Human settlement.csv")

# Display information about the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                149 non-null    object
 1   Population             149 non-null    int64
 2   Population density     149 non-null    int64
 3   Access to clean water  149 non-null    float64
 4   Acces to sanitation    149 non-null    float64
 5   Electricity Access     149 non-null    float64
 6   HealthCare             149 non-null    float64
 7   Education Access       149 non-null    float64
 8   Poverty Rate           149 non-null    float64
 9   Unemployment Rate      149 non-null    float64
dtypes: float64(7), int64(2), object(1)
memory usage: 11.8+ KB

In [13]:
# View the columns of the DataFrame
print(df.columns)
df.size

Index(['Country', 'Population', 'Population density', 'Access to clean water',
       'Acces to sanitation', 'Electricity Access', 'HealthCare',
       'Education Access', 'Poverty Rate', 'Unemployment Rate'],
      dtype='object')

1490

In [7]:
# Print the count of missing values (null values) in each column of the DataFrame
print(df.isnull().sum())

Country                  0
Population               0
Population density       0
Access to clean water    0
Acces to sanitation      0
Electricity Access       0
HealthCare               0
Education Access         0
Poverty Rate             0
Unemployment Rate        0
dtype: int64

In [9]:
# Print the count of duplicated rows in the DataFrame
print(df.duplicated().sum())

0

In [10]:
# Select multiple rows by position
print(df.loc[1:5])# rows 1 to 5

          Country  Population  Population density  Access to clean water  \
1          Canada      120151                6092                  97.82
2        Mexico Z      219199                 594                  85.98
3          Brazil      684256                 321                  61.99
4       Argentina      899267                4749                  85.01
5  United Kingdom      296032                 477                  90.51

   Acces to sanitation  Electricity Access  HealthCare  Education Access  \
1                91.53               87.83       93.15             69.03
2                72.38               84.95       71.14             84.59
3                80.54               87.43       98.71             68.58
4                79.66               92.22       94.24             93.45
5                90.33               80.96       74.63             58.09

   Poverty Rate  Unemployment Rate
1         23.88              11.39
2         20.89               9.03
3         30.48               6.41
4         10.88              14.11
5         35.47               8.73

| Dataset                   | Data Types                                                
|---------------------------|-----------------------------------------------------------------------------------------------------------------
| Iris Dataset              | - Numerical (float): Sepal Length, Sepal Width, Petal Length, Petal Width<br>- Categorical (string): Species 
| MNIST Handwritten Digits  | - Numerical (integer): Pixel values (0-255) for each pixel in a 28x28 image<br>- Categorical (integer): Label indicating the digit (0-9) 
| Titanic Dataset           | - Numerical (integer/float): Passenger Age, Fare<br>- Categorical (string): Passenger Class, Sex, Embarked<br>- Binary (integer): Survived (0 or 1) 
| CIFAR-10                  | - Numerical (integer): Pixel values (0-255) for each color channel in a 32x32 image<br>- Categorical (integer): Label indicating the object class (e.g., airplane, dog, etc.) |
| Boston Housing Dataset    | - Numerical (float): Housing prices, features such as crime rate, number of rooms, etc. 
| Yelp Reviews              | - Text (string): Review text<br>- Categorical (integer): Star rating (1 to 5)